//colors
$color_viking_approx: rgb(98, 179, 229);
$color_black_10_approx: rgba(0, 0, 2, .1);
$white: rgb(255, 255, 255);

@keyframes spinner-animation {
  0% {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  100% {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  25% {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  75% {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0.2em, -2em -2em 0 0;
  }
  0.5% {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  1.5% {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 0, 2em 2em 0 0.2em, 0 3em 0 0, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  2.5% {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  3.5% {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0 0 0, -2em -2em 0 0.2em;
  }
}

.pre-loader-overlay {
  align-items: center;
  background-color: $tieto-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all .5s ease-in-out;
  visibility: hidden;
  width: 100vw;
  z-index: 200;
  &.is-active {
    opacity: 1;
    overflow: hidden;
    pointer-events: none;
    transition: all .5s ease-in-out;
    visibility: visible;
  }
}
.pre-loader-overlay-logo {
  max-width: 180px;
  width: 43%;
}
.pre-loader-spinner {
  color: $tieto-light-blue;
  font-size: 12px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  animation: spinner-animation 1.0s infinite linear;
  transform: translateZ(0);
}

body {
  background-color: $tieto-dark-blue;
}

.campaign-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  &.navigation-menu {
    .node--type-campaign & {
      @include breakpoint-max(md) {
        opacity: 1;
        visibility: visible;
        background: none;
        padding: inherit;
        transition: none;
        width: 100%;
        box-shadow: none;
        will-change: none;
      }
      &::before {
        display: none;
      }
    }
    span {
      &.nav-logo {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 14px;
        text-align: left;
        visibility: visible;
        width: 100%;
        z-index: -3;
        &::after {
          @include breakpoint-max(md) {
            top: -105px;
          }
        }
        img {
          left: 0;
          margin: auto 0;
          position: relative;
          top: 0;
          @include breakpoint-max(md) {
            width: 80px;
            height: 53px;
            margin: 0;
          }
        }
        &.not-fixed::after {
          transition: width .2s, transform .2s ease .2s;
          transform: rotate(16.5deg) skew(-29deg);
        }
        &.fixed::after {
          transition: transform .2s, width .2s ease .2s, left .5s ease-in-out .2s;
          transform: rotate(0) skew(0) translate3d(60px, -40px, 0);
          width: 100%;
          .pushed & {
            transition: transform .2s, width .2s ease .2s, left .5s ease-in-out 20ms;
            left: -360px;
          }
        }
      }
      &.nav-logo::after {
        transform: rotate(16.5deg) skew(-29deg);
        will-change: transform, width;
        background: $tieto-blue;
        content: " ";
        position: absolute;
        display: block;
        z-index: -1;
        top: -84px;
        left: -60px;
        width: 200px;
        height: 200px;
      }
    }
  }
  .node--type-campaign & {
    a {
      color: white;
      text-decoration: none;
      display: block;
      text-align: left;
      font-size: .9em;
      letter-spacing: .5px;
      padding: .5em;
      @include breakpoint-max(md) {
        padding: .5em 1.5em;
      }
      @include breakpoint(md) {
        text-align: center;
      }
    }
  }
}
.nav-menu-link-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0 8px 0 0;
  overflow: hidden;
  padding: 0;
  transition: all .5s ease-in-out;
  transition-delay: .5s;
  @include breakpoint-max(md) {
    will-change: opacity;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    //box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    width: 62%;
  }
  @include breakpoint(md) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    font-size: .5rem;
    max-width: calc(100vw - 40px);
    margin: 0 74px 0 0;
  }
  @include breakpoint(mlg) {
    font-size: 1rem;
    max-width: calc(100vw - 160px);
  }
  &::before {
    content: " ";
    display: none;
    position: absolute;
    top: 0;
    right: 12px;
    border: 10px solid;
    margin-top: -20px;
    border-color: transparent transparent $tieto-blue transparent;
    box-sizing: content-box;
  }
  &.is-active {
    opacity: 1;
    visibility: visible;
    &::before {
      display: block;
    }
  }
  .pushed & {
    @include breakpoint(md) {
      max-width: calc(100vw - 470px);
      margin: 0 294px 0 0;
      transition: all .5s ease-in-out;
      transition-delay: 0s;
    }
    @include breakpoint(mlg) {
      max-width: calc(100vw - 160px);
    }
  }
}
.campaign-menu-link {
  @include breakpoint-max(md) {
    background: $tieto-blue;
  }
}
.nav-menu-link {
  @include breakpoint-max(md) {
    &:first-child {
      padding-top: 1em;
    }
    &.last-item {
      padding-bottom: 1em;
    }
  }
}
.tieto-com-link {
  .node--type-campaign .campaign-menu &.campaign-menu-link {
    margin-top: 6px;
    position: relative;
    @include breakpoint-max(md) {
      display: list-item;
    }
    @include breakpoint(md) {
      display: none;
    }
    &:hover {
      &::before {
        display: none;
      }
    }
    &::before {
      display: none;
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 45px 0 0;
      border-color: $tieto-light-blue transparent transparent transparent;
      position: absolute;
      left: 0;
      top: 0;
      @include breakpoint-max(md) {
        display: block;
      }
    }
    > a {
      text-align: center;
      padding: 1em 1.5em;
      &:Hover,
      &:active {
        background: $tieto-dark-blue;
      }
    }
  }
}
.invisible-mobile {
  display: none !important;
  @include breakpoint(md) {
    display: flex !important;
  }
}
.visible-mobile {
  @include breakpoint(md) {
    display: none !important;
  }
}
.hamburger-menu-toggler {
  cursor: pointer;
  height: 53px;
  margin: 0 14px;
  visibility: visible;
  width: 50px;
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  .toolbar-fixed & {
    position: absolute;
  }
  &:focus {
    outline: none;
  }
  @include breakpoint(md) {
    height: 77px;
    margin: 0 1.5em;
  }
}
.animated-hamburger-menu {
  backface-visibility: hidden;
  background-color: $white;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 4px;
  right: 9px;
  position: absolute;
  top: 48%;
  transition: all .3s ease-in-out;
  width: 32px;
  &:before {
    backface-visibility: hidden;
    background-color: $white;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    height: 4px;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 32px;
    content: '';
    right: 0;
    top: -10px;
  }
  &:after {
    backface-visibility: hidden;
    background-color: $white;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    height: 4px;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 32px;
    content: '';
    right: 0;
    top: 10px;
  }
  .hamburger-menu-toggler.is-active & {
    background-color: transparent;
    &:before {
      top: 0;
      transform: rotate(-135deg);
    }
    &:after {
      top: 0;
      transform: rotate(135deg);
    }
  }
}
.slide-in-menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 76px);
  justify-content: flex-start;
  margin-top: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0;
  position: fixed;
  right: -30px;
  top: 76px;
  transition: opacity .3s .4s, visibility 0s .7s;
  width: 330px;
  pointer-events: none;
  @include breakpoint(md) {
    pointer-events: auto;
  }
  .nav-menu-link-container {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: relative;
    transform: translate3d(100%, 0, 0);
    transition: opacity .3s, transform .3s, border .2s;
    width: 100%;
    .nav-menu-link {
      border: none;
      color: $white;
      padding: 15px 30px;
      position: relative;
      text-align: left;
      &:hover {
        border: none;
        color: $white;
      }
      > a {
        text-align: inherit;
        padding: 0;
      }
    }
    &:nth-child(17) {
      transition-delay: 0s;
    }
    &:nth-child(16) {
      transition-delay: 0.05s;
    }
    &:nth-child(15) {
      transition-delay: .1s;
    }
    &:nth-child(14) {
      transition-delay: .15s;
    }
    &:nth-child(13) {
      transition-delay: .2s;
    }
    &:nth-child(12) {
      transition-delay: .25s;
    }
    &:nth-child(11) {
      transition-delay: .3s;
    }
    &:nth-child(10) {
      transition-delay: .35s;
    }
    &:nth-child(9) {
      transition-delay: .4s;
    }
    &:nth-child(8) {
      transition-delay: .45s;
    }
    &:nth-child(7) {
      transition-delay: .5s;
    }
    &:nth-child(6) {
      transition-delay: .55s;
    }
    &:nth-child(5) {
      transition-delay: .6s;
    }
    &:nth-child(4) {
      transition-delay: .65s;
    }
    &:nth-child(3) {
      transition-delay: .7s;
    }
    &:nth-child(2) {
      transition-delay: .75s;
    }
    &:first-child {
      transition-delay: .8s;
    }
    @include breakpoint(md) {
      &:nth-child(17) {
        transition-delay: 0s;
      }
      &:nth-child(16) {
        transition-delay: 0.05s;
      }
      &:nth-child(15) {
        transition-delay: .1s;
      }
      &:nth-child(14) {
        transition-delay: .15s;
      }
      &:nth-child(13) {
        transition-delay: .2s;
      }
      &:nth-child(12) {
        transition-delay: .25s;
      }
      &:nth-child(11) {
        transition-delay: .3s;
      }
      &:nth-child(10) {
        transition-delay: .35s;
      }
      &:nth-child(9) {
        transition-delay: .4s;
      }
      &:nth-child(8) {
        transition-delay: .45s;
      }
      &:nth-child(7) {
        transition-delay: .5s;
      }
      &:nth-child(6) {
        transition-delay: .55s;
      }
    }
  }
  .pushed & {
    @include breakpoint(md) {
      opacity: 1;
      transition: opacity .3s;
      visibility: visible;
    }
    .nav-menu-link-container {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      &:first-child {
        transition-delay: .2s;
      }
      &:nth-child(2) {
        transition-delay: .25s;
      }
      &:nth-child(3) {
        transition-delay: .3s;
      }
      &:nth-child(4) {
        transition-delay: .35s;
      }
      &:nth-child(5) {
        transition-delay: .4s;
      }
      &:nth-child(6) {
        transition-delay: .45s;
      }
      &:nth-child(7) {
        transition-delay: .5s;
      }
      &:nth-child(8) {
        transition-delay: .55s;
      }
      &:nth-child(9) {
        transition-delay: .6s;
      }
      &:nth-child(10) {
        transition-delay: .65s;
      }
      &:nth-child(11) {
        transition-delay: .7s;
      }
      @include breakpoint(md) {
        &:nth-child(6) {
          transition-delay: .2s;
        }
        &:nth-child(7) {
          transition-delay: .25s;
        }
        &:nth-child(8) {
          transition-delay: .3s;
        }
        &:nth-child(9) {
          transition-delay: .35s;
        }
        &:nth-child(10) {
          transition-delay: .4s;
        }
        &:nth-child(11) {
          transition-delay: .45s;
        }
        &:nth-child(12) {
          transition-delay: .5s;
        }
        &:nth-child(13) {
          transition-delay: .55s;
        }
        &:nth-child(14) {
          transition-delay: .6s;
        }
        &:nth-child(15) {
          transition-delay: .65s;
        }
        &:nth-child(16) {
          transition-delay: .7s;
        }
        &:nth-child(17) {
          transition-delay: .75s;
        }
      }
    }
  }
}
.sub-links-slider {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-height: 0;
  justify-content: flex-start;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0;
  position: relative;
  transition: max-height .8s ease-in-out;
  width: 330px;
}
.nav-menu-sub-link-container {
  margin-bottom: 10px;
  margin-left: 20px;
  opacity: 1;
  width: 300px;
  z-index: 0;
  .sub-links-slider & {
    .nav-menu-sub-link {
      border-bottom: none;
      color: $white;
      font-size: 14px;
      line-height: 18px;
      opacity: 0.6;
      padding: 7px 10px 7px 25px;
      position: relative;
      text-align: left;
      transition: opacity .3s;
      width: calc(100% - 30px);
      &:hover {
        background-color: transparent;
        border-bottom: none;
        color: $white;
        opacity: 1;
      }
    }
  }
}
.slide-in-menu-link {
  &.selected {
    .sub-links-slider {
      max-height: 1000px;
    }
  }
}
.color-slider {
  @include breakpoint(mlg) {
    background-color: $color_viking_approx;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .4s ease-in-out;
    width: 0;
    z-index: -1;
  }
  .slide-in-menu-link:hover .nav-menu-link &,
  .slide-in-menu-link.selected .nav-menu-link &,
  .nav-menu-sub-link.hover &,
  .nav-menu-sub-link.selected & {
    @include breakpoint(mlg) {
      width: calc(100% + 40px);
    }
  }
  .nav-menu-sub-link-container & {
    @include breakpoint(mlg) {
      margin-left: -20px;
    }
  }
}
.to-be-pushed {
  transition: all .5s ease-in-out;
  transition-delay: .5s;
  box-shadow: 1px 3px 1px 2px $color_black_10_approx;
  @include breakpoint(md) {
    transition-delay: .2s;
  }
  .pushed & {
    @include breakpoint(md) {
      transform: translate3d(-300px, 0, 0);
      transition-delay: 0s;
    }
  }
}
.nav-menu-link-container {
  display: inline-block;
  padding: .5em;
  @include breakpoint(md) {
    margin-left: 0;
  }
  a[data-selected="0"] {
    border-bottom: 2px solid transparent;
    transition: border-color .2s;
    &:hover {
      background: 0;
      color: $white;
      border-color: $white;
    }
  }
  a[data-selected="1"] {
    display: block;
    padding: .5em 1.5em;
    border: 2px solid $white;
    border-radius: 3px;
    &:hover {
      background-color: $white;
      color: $tieto-blue;
    }
  }
}
.fly {
  display: none;
  &.in {
    display: none;
  }
}


footer {
  transition: all .5s ease-in-out;
  transition-delay: .5s;
  @include breakpoint(md) {
    transition-delay: .2s;
  }
  .pushed & {
    @include breakpoint(md) {
      transform: translate3d(-300px, 0, 0);
      transition-delay: 0s;
    }
  }
}
