{#
/**
 * @file
 * Custom template for Menu field in Campaign pages.
 */
#}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{#
<button id="hamburger" class="hamburger hamburger--collapse" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

<nav{{ attributes.addClass(classes, 'campaign-menu') }}>
  <ul class="list-reset">
    {% for item in items %}
      <li{{ item.attributes.addClass('campaign-menu-link') }}>{{ item.content }}</li>
    {% endfor %}
  </ul>
</nav>
#}
{{ attach_library('tieto_admin/tieto_off_canvas_menu') }}
<nav class="field field--name-field-menu field--type-link field--label-hidden campaign-menu navigation-menu">
  <div id="pre-loader-overlay" class="pre-loader-overlay is-active">
    <img class="pre-loader-overlay-logo" src="themes/tieto_admin/images/tietologo-big.png" alt="Tieto">
    <div class="pre-loader-spinner"></div>
  </div>

  <ul class="nav-menu-link-list invisible-mobile">
    <li class="nav-menu-link-container"><a href="https://www.tieto.com/about-us" data-selected="0"><strong>About us</strong></a></li>
    <li class="nav-menu-link-container">
      <a id="megamenu-parent" href="#" data-selected="0">
        <strong>What we do</strong>
      </a>
      <div class="tieto-submenu-megamenu-container">
        <div class="tieto-submenu-megamnu-container-inner">
          <div class="tieto-submenu-megamenu">
            <strong><a href="#">Industries</a></strong>
            <ul>
              <li><a href="#">Energy utilities</a></li>
              <li><a href="#">Financial services</a></li>
              <li><a href="#">Forest</a></li>
              <li><a href="#">Healthcare and welfare</a></li>
              <li><a href="#">Logistics</a></li>
              <li><a href="#">Manufacturing</a></li>
              <li><a href="#">Media</a></li>
              <li><a href="#">Oil and gas</a></li>
              <li><a href="#">Public</a></li>
              <li><a href="#">Retail and wholesale</a></li>
              <li><a href="#">Telecom</a></li>
            </ul>
          </div>

          <div class="tieto-submenu-megamenu">
            <strong><a href="#">Services</a></strong>
            <ul>
              <li><a href="#">Application services</a></li>
              <li><a href="#">Business application platforms</a></li>
              <li><a href="#">Business process services</a></li>
              <li><a href="#">Consulting services</a></li>
              <li><a href="#">End user services</a></li>
              <li><a href="#">Infrastructure services</a></li>
              <li><a href="#">Outsourcing</a></li>
              <li><a href="#">Product development</a></li>
            </ul>
          </div>

          <div class="tieto-submenu-megamenu">
            <strong><a href="#">Focus Areas</a></strong>
            <ul>
              <li><a href="#">Artificial Intelligence</a></li>
              <li><a href="#">Cloud</a></li>
              <li><a href="#">CEM</a></li>
              <li><a href="#">Digitalization</a></li>
              <li><a href="#">GDPR</a></li>
              <li><a href="#">IOT</a></li>
              <li><a href="#">Security</a></li>
            </ul>
          </div>

        </div>
      </div>
    </li>
    <li class="nav-menu-link-container"><a href="https://www.tieto.com/customers" data-selected="0"><strong>Customers</strong></a></li>
    <li class="nav-menu-link-container"><a href="https://www.tieto.com/news" data-selected="0"><strong>News</strong></a></li>
    <li class="nav-menu-link-container"><a href="https://www.tieto.com/careers" data-selected="0"><strong>Careers</strong></a></li>
    <li class="nav-menu-link-container"><a href="https://www.tieto.com/customer-area" data-selected="0"><strong>Customer area</strong></a></li>
  </ul>

  <div id="hamburger" class="hamburger-menu-toggler">
    <span class="animated-hamburger-menu"></span>
  </div>

  <ul class="slide-in-menu">
    <li class="nav-menu-link-container slide-in-menu-link visible-mobile">
      <a class="nav-menu-link" data-selected="0" href="https://www.tieto.com/about-us">
        <strong>About us</strong>
        <span class="color-slider"></span>
      </a>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link visible-mobile">
      <a class="nav-menu-link" data-selected="0" href="https://www.tieto.com/whatwedo">
        <strong>What we do</strong>
        <span class="color-slider"></span>
      </a>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link visible-mobile">
      <a class="nav-menu-link" data-selected="0" href="https://www.tieto.com/customers">
        <strong>Customers</strong>
        <span class="color-slider"></span>
      </a>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link visible-mobile">
      <a class="nav-menu-link" data-selected="0" href="https://www.tieto.com/news">
        <strong>News</strong>
        <span class="color-slider"></span>
      </a>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link visible-mobile">
      <a class="nav-menu-link" data-selected="0" href="https://www.tieto.com/careers">
        <strong>Careers</strong>
        <span class="color-slider"></span>
      </a>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link visible-mobile">
      <a class="nav-menu-link" data-selected="0" href="https://www.tieto.com/customer-area">
        <strong>Customer area</strong>
        <span class="color-slider"></span>
      </a>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link">
      <div class="nav-menu-link" data-selected="0">
        <strong>Sustainibility</strong>
        <span class="color-slider"></span>
      </div>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link">
      <div class="nav-menu-link" data-selected="0">
        <span class="color-slider"></span>
        <strong>Investors</strong>
      </div>
    </li>
    <li class="nav-menu-link-container slide-in-menu-link">
      <div class="nav-menu-link" data-selected="0">
        <span class="color-slider"></span>
        <strong>Events</strong>
      </div>
    </li>
  </ul>

  <span id="nav-logo" class="nav-logo"><img src="themes/tieto_admin/images/tietologo.png" alt="Tieto"></span>

</nav>
