<footer class="campaign-footer to-be-pushed">
	<div class="container">
		<span class="footer-item">
			<a class="footer-item" href="https://www.tieto.com">© Tieto</a>
		</span>
		<a class="footer-item" href="https://www.tieto.com/en/about-us/our-company/">{{ 'About Tieto'|t }}</a>
		<a class="footer-item" href="https://www.tieto.com/en/privacy-notice/">{{ 'Privacy notice'|t }}</a>
		<a class="footer-item ccb__edit" href="#">Cookie settings</a>
		{{ page.footer }}

		<img class="tieto-logo" src="/themes/tieto_admin/images/tietologo-blue.svg" alt="Tieto" width="81" height="27">
	</div>
</footer>
