
$white: #ffffff;
$doughnut-bgr: #efefef;
$doughnut-text-dark: #333333;

// chart colors
///////////////

$doughnut-chart-blue: #67afe1;
$doughnut-chart-pink: #e56385;
$doughnut-chart-green: #6cc04a;
$doughnut-chart-grey: #878787;



