// @todo move this to text-boxes.scss!
.paragraph--type--text-boxes.layout--rounded_image.paragraph--view-mode--default {

  &.scheme-green,
  &.scheme-green-light {
    color: white;
    background: $tieto-green;
    .field,
    .field--name-parade-paragraphs .field {
      color: white;
    }
  }
  &.scheme-blue {
    color: white;
    background: $tieto-blue;
    .field,
    .field--name-parade-paragraphs .field {
      color: white;
    }
  }
  &.scheme-blue-light {
    background: $tieto-lightblue;
  }
  &.scheme-grey,
  &.scheme-grey-light{
    background: $tieto-lightgrey;
  }
  &.scheme-grey-dark {
    color: white;
    background: #999999;
    .field,
    .field--name-parade-paragraphs .field {
      color: white;
    }
  }
  &.scheme-orange,
  &.scheme-orange-light {
    color: white;
    background: $tieto-orange;
    .field,
    .field--name-parade-paragraphs .field {
      color: white;
    }
  }
  &.scheme-red {
  color: white;
  background: $tieto-red;
  .field,
  .field--name-parade-paragraphs .field {
    color: white;
  }
}

  .field--name-parade-paragraphs {
    margin: 0 -15px;
  }

  .field--name-parade-paragraphs {

    .field--name-parade-title {
      font-weight: bold;
      margin: 0 0 .5em;
      line-height: 27px;
      font-size: 20px;
      letter-spacing: -.5px;
      color: $text-color;
    }

  }
}
