// @todo move this to text-boxes.scss!
.paragraph--type--text-boxes.paragraph--view-mode--default[class*="columns-"] > .paragraph-inner .field--name-parade-paragraphs > .col > .paragraph-inner > .layout > .layout__region {
  display:block;
}
.paragraph--type--text-boxes.layout--rounded_image.paragraph--view-mode--default {
  
  .field--name-parade-paragraphs .field.field--name-parade-image {
    margin:inherit;
  }

  &.color-light-green,
  &.color-green {
    color: white;
    background: $tieto-green;
    .field,
    .field--name-parade-paragraphs .field {
      color: white;
    }
  }
  &.color-blue {
    color: white;
    background: $tieto-blue;
    .field,
    .field--name-parade-paragraphs .field {
      color: white;
    }
  }
  &.color-light-blue {
    background: $tieto-lightblue;
  }
  &.color-grey,
  &.color-light-grey {
    background: $tieto-lightgrey;
  }
  &.color-dark-grey {
    color: white;
    background: $tieto-mediumgrey;
    .field,
    .field--name-parade-paragraphs .field {
      color: white;
    }
  }
  &.color-orange,
  &.color-light-orange {
    color: white;
    background: $tieto-orange;
    .field,
    .field--name-parade-paragraphs .field {
      color: white;
    }
  }
  &.color-red {
  color: white;
  background: $tieto-red;
  .field,
  .field--name-parade-paragraphs .field {
    color: white;
  }
}

  .field--name-parade-paragraphs {
    margin: 0 -15px;
  }

  .field--name-parade-paragraphs {

    .field--name-parade-title {
      font-weight: bold;
      margin: 0 0 .5em;
      line-height: 27px;
      font-size: 20px;
      letter-spacing: -.5px;
      color: $text-color;
    }

  }
}
