.paragraph--type--simple.paragraph--view-mode--default {

  .field--name-parade-title {
    @include campaign-title-center;
  }

  &.layout--one-column-centered {
    text-align: center;
  }

  &.color-red-light {
    background: $tieto-lightred;
    color: white;
  }

  &.color-shaded {
    background-color: $tieto-lightblue;
  }

  &.color-light-grey {
    background-color: $tieto-lightgrey;
  }

  &.layout--separator-clean {
    .field--name-parade-title {
      @include campaign-title-separator;
    }
  }

  // Inverse layout
  &.layout--two-column-content-1st-inverse,
  &.layout--two-column-title-1st-inverse {
    background: $white;

    .field--name-parade-title,
    .field--name-parade-text {
      color: #333333;
      @include md {
        width: 50%;
      }
    }

    .field--name-parade-title {
      @include campaign-headline;
      color: #333333;
    }

    &.color-blue {
      background: $tieto-blue;

      .field--name-parade-title,
      .field--name-parade-text {
        color: white;
      }

      .field--name-parade-title {
        @include campaign-headline;
        color: white;
      }
    }
  }

  @include md {
    &.layout--two-column-content-1st-inverse {
      .field--name-parade-title {
        float: right;
        text-align: right;
        padding-left: 20px;
      }
      .field--name-parade-text,
      .field--name-parade-call-to-action {
        float: left;
        padding-right: 20px;
      }
      .field--name-parade-call-to-action {
        width: 50%;
      }
    }

    &.layout--two-column-title-1st-inverse {
      .field--name-parade-title {
        float: left;
        text-align: left;
        padding-right: 20px;
      }
      .field--name-parade-text,
      .field--name-parade-call-to-action {
        float: right;
        padding-left: 20px;
      }
      .field--name-parade-call-to-action {
        width: 50%;
      }
    }
  }
}
