/**
 * @file
 * HEADER paragraph
 */
$paragraph-header-height: 600px;
$paragraph-header-overlay-bg: rgba(103, 175, 225, .5); // @todo move to variables (e.g. $tieto-lightblue)
$paragraph-header-overlay-bg-grey: rgba(0, 0, 0, .5); // @todo move to variables (e.g. $tieto-grey)

.paragraph--type--header.paragraph--view-mode--default {
  padding: 0;
  position: relative;
  height: 80vh;
  overflow: hidden;
  z-index: 50;
  background: none;

  // any paragraph comes right after header
  & + div,
  & + section {
    padding-top: calc(40px + 40%) !important;
    position: relative;
    z-index: 0;
    margin-top: -40%;
  }

  // Background overlay
  .bg-wrapper::before {
    content: " ";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
  }

  &.color-blue {
    .bg-wrapper::before {
      background-color: $paragraph-header-overlay-bg;
    }
  }

  &.color-grey {
    .bg-wrapper::before {
      background-color: $paragraph-header-overlay-bg-grey;
    }
  }

  @supports (clip-path: polygon(0 0)) {
    .bg-wrapper {
      clip-path: polygon(0 0, 100% 0, calc(100% + 80vh) 100%, 0 90%);
    }
  }

  @supports not (clip-path: polygon(0 0)) {
    + .paragraph {
      @include slope(before, 2.7deg, false);
      ~ .paragraph {
        position: relative;
        z-index: 1;
      }
    }
  }

  // Title, Secondary title.
  .field--name-parade-title {
    font-size: 1.8em;
    margin-bottom: .5rem;
    display: inline-block;
    font-weight: 800;
    letter-spacing: -2px;

    @include breakpoint(md) {
      font-size: 2.8em;
    }

    @include breakpoint(lg) {
      font-size: 4em;
    }
  }

  .field--name-parade-secondary-title,
  .field--name-parade-lead-text {
    font-size: 1em;
    margin-bottom: .5em;

    @include breakpoint(md) {
      font-size: 1.2em;
    }
    @include breakpoint(lg) {
      font-size: 1.5em;
    }
  }

  .field--name-parade-title,
  .field--name-parade-secondary-title {
    line-height: normal;
  }

  // Call to action buttons.
  .field--name-parade-call-to-action {
    margin: 0;
    text-align: left;
    position: relative;

    .field__item {
      display: inline-block;
    }
  }

  // Content wrapper.
  .paragraph-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    padding: 2em 1em;
    z-index: 20;
    @include breakpoint-max(lg) {
      transform: translateY(-50%);
      text-align: center;
    }
  }

}

.fly {
  z-index: 1000;
  border-radius: 2px;

  .button {
    margin: 0;
  }

  &.in {
    transform: translateX(0) translateY(-50%);
    transition: transform .5s;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .15);

    @include breakpoint-max(md) {
      width: 100%;
      padding: 0 1em;
      box-shadow: none;

      .button {
        width: 100%;
      }
    }
  }

  &.out {
    transform: translate(0) translateY(0);
    transition: transform .5s;

    @include breakpoint-max(md) {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      transition: transform .5s, box-shadow .5s;
    }
  }
}
