// Variables
$tieto-blue: #67afe1;
$tieto-light-blue: #9acaeb;
$tieto-dark-blue: #0065a0;
$brand-primary: $tieto-blue;
$brand-danger: #E62600;

$pulp-yellow: #fdd706;
$pulp-red: #d03428;

$text-color: #777;
$text-color-strong: #333;

$tieto-lightblue: #cde6f5;
$tieto-lightgrey: #efefef;
$tieto-green: #b2eb95;
$tieto-red: #d51067;
$tieto-orange: #F78D2D;
$link-color: $tieto-blue;
$link-color-hover: $tieto-red;
