{#
/**
 * @file
 * Default theme implementation to display a 404 error page.
 */
#}
<div class="error-page error-page--403">
  {% include directory ~ '/templates/inc/logo.html.twig' %}
  <div class="error-page__content">
    <h1>{{ 'Access Denied. 403'|t }}</h1>
    <p>{{ 'You are not authorized to access this page.'|t }}</p>
  </div>
  {% include directory ~ '/templates/inc/footer.html.twig' %}
</div>
