{#
/**
 * @file
 * CHART BOX paragraph
 */
#}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'col',
'col-' ~ parade.columns|default('3')
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="paragraph-inner clearfix">
    {{ content }}

    {% if attributes.class[0] == "layout--chart-type--doughnut" %}
      <canvas id="{{ "textChart_" ~ paragraph_id }}" width="220" height="220"></canvas>
    {% endif %}
  </div>
</div>
