{#
/**
 * @file
 * CHART BOXES paragraph
 */
#}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'columns-' ~ parade.columns|default('3')
]
%}


<div{{ attributes.addClass(classes) }}>
	<div class="paragraph-inner">

		{# Doughnut chart layout#}
		{% if attributes.class[1] == "layout--chart-type--doughnut" %}
			<div class="doughnut-chart--left">
				{{ content }}
			</div>
			<div class="doughnut-chart--right">
				<canvas id="myChart" width="490" height="490"></canvas>
			</div>
    {% endif %}

		{# Doughnut & text chart layout #}
    {% if attributes.class[1] == "layout--chart-type--doughnut-and-text" %}

        {{ content }}

    {% endif %}

    {# Bar chart layout #}

	</div>
</div>
