.tieto-submenu-megamenu-container{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
   background: rgba(103, 175, 225, 0.95);
}
.tieto-submenu-megamnu-container-inner{
  max-width: 800px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.tieto-submenu-megamenu-container.is-active{
    display: block;
}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu{
    width: 30%;
    display: inline-block;
    float: left;
}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu strong{
    padding-top: 30px;
}


.tieto-submenu-megamenu-container .tieto-submenu-megamenu strong a{
    text-align: left;
}
.tieto-submenu-megamenu-container .tieto-submenu-megamenu ul{
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu ul li{

}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu ul li a{
    text-align: left;
}
