.tieto-submenu-megamenu-container {
display: block;
  position: absolute;
  background: rgba(103, 175, 225, 0.95);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -999999;
  pointer-events: none;

}

.tieto-submenu-megamnu-container-inner {
z-index: -999999999;
  padding: 45px 0 50px;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.tieto-submenu-megamenu-container.is-active {
  opacity: 1;
  z-index: inherit;
  left: 0;
  right: 0;
  pointer-events: auto;
}

.tieto-submenu-megamenu-container.is-active .tieto-submenu-megamnu-container-inner {

}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu {
  width: 30%;
  display: inline-block;
  float: left;
  margin-right: 2.9%;
}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu strong {
  display: block;
  padding-bottom: 5px;
}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu strong a {
  text-align: left;
  transition: all 0.35s;
}
.tieto-submenu-megamenu-container .tieto-submenu-megamenu strong a:hover {
  color: white;
  background-color: rgba(255,255,255,0.2);
}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu ul {
  list-style-type: none;
  text-align: left;
  padding-left: 5px;
  margin-left: 0;
}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu ul li {}

.tieto-submenu-megamenu-container .tieto-submenu-megamenu ul li a {
  text-align: left;
  padding: 1.5px;
  font-size: 14px;
}
.tieto-submenu-megamenu-container .tieto-submenu-megamenu ul li a:hover{
    background: transparent;
    text-decoration: underline;
    color: white;
}

#megamenu-parent.is-active {
  background: 0;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.megamenu-exit {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 999999;
  display: block;
  width: 40px;
  height: 32px;
}

.megamenu-exit span {
  backface-visibility: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 4px;
  right: 9px;
  position: absolute;
  top: 48%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 32px;
  transform: rotate(45deg);
}

.megamenu-exit span:last-child {
  transform: rotate(-45deg);
}
