.paragraph--type--savings-calculator.paragraph--view-mode--default .field--name-parade-title { margin-bottom: 1em; font-weight: 800; letter-spacing: -1px; font-size: 26px; line-height: 1.2; word-break: break-word; margin-bottom: 0; margin-bottom: .5em; color: #333; }

@media (min-width: 767px) { .paragraph--type--savings-calculator.paragraph--view-mode--default .field--name-parade-title { line-height: 1; font-size: 48px; } }

.savings-calculator { padding: 2em; background: #efefef; }

@media (min-width: 850px) { .savings-calculator { display: -webkit-box; display: flex; -webkit-box-align: center; align-items: center; }
  .savings-calculator__input-container { text-align: left; }
  .savings-calculator__input-container, .savings-calculator__result-container { width: 50%; } }

.savings-calculator__input-container { margin-bottom: 1em; text-align: center; font-weight: 700; }

.savings-calculator__inputs { margin-top: 1em; }

.savings-calculator__inputs .form-number { display: block; width: 100%; margin-bottom: .5em; }

@media (min-width: 560px) { .savings-calculator__inputs .form-number { display: inline-block; width: auto; margin-bottom: 0; } }

.savings-calculator__inputs .form-number, .savings-calculator__inputs .button { padding: .6em .8em .6em 1em !important; }

.savings-calculator__result-container { text-align: center; color: #67afe1; font-size: 1.5rem; font-weight: 700; }

.paragraphs-dropbutton-wrapper .button.parade-button-savings-calculator { background-image: url("../images/savings-calculator.png"); font-size: .85em; line-height: 1.62; }
